<p>
  Ye can always pretend to be a bloodthirsty <%= @word_set.noun1 %>, threatening everyone by
  waving yer <%= @word_set.adjective1 %> sword in the air, but until ye learn to
  <%= @word_set.verb1 %> like a pirate,
</p>
